<h2 align="center">TITLE: <%= @article.title%></h2>

<br>

<div class="col-md-10 offset-md-1">
  <div class="card card-inverse" style="background-color: #C8C2C1">
    <div class="card-block" style="margin: 20px">
      <ul class="listing">
        <div align="center">
          <div class="card-block" style="margin: 2px">
            <li>Created By:</li>
            <li><%= link_to gravatar_for(@article.user), user_path(@article.user) %></li>
            <li class="card-title"><%= link_to @article.user.username, user_path(@article.user) %></li>
            <li class="card-text"><small><%= pluralize(@article.user.articles.count, "article") if @article.user.articles %></small></li>
          </div>
        </div>
      </ul>
      <hr style="background-color: #E3623F; height: 1px" >
      <h4 align="center" class="center card-title"><strong><p>DESCRIPTION</p></strong></h4>
      <hr style="background-color: #E3623F; height: 1px">
      <p class="card-text"><%= simple_format(@article.description) %></p>
      <br>
      <div class="article-actions">
        <%= link_to 'Edit this Article', edit_article_path(@article), method: "get", class:"btn btn-md btn-primary" %>
         <%= link_to 'Delete this Article', article_path(@article), method: :delete, data: { confirm: "Are You Sure you want to DELETE the Article?"}, class:"btn btn-md btn-danger" %>
        <%= link_to 'View all Articles', articles_path, method: "get", class:"btn btn-md btn-success" %>
      </div>
    </div>
  </div>
</div>

<br>

